---
import '../styles/global.scss';
---

<footer>
	<p>© 2024 - Kelompok Penerbang Walet</p>
	<div class="footer_links">
		<a target="_blank" rel="noreferer noopener" href="https://github.com/kepelet">GitHub</a>
		<a target="_blank" rel="noreferer noopener" href="https://bsky.app/profile/did:web:flooo.club">Bluesky</a>
	</div>
</footer>
