<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-itunes-app" content="app-id=6529533140">

        <title>flo</title>

        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

        <link href="/assets/css/reset.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>

  <body>
    <main class="l-container">
        <nav class="c-navbar">
          <div class="c-navbar__wrapper">
            <div class="c-navbar__left">
              <h2><a href="/">flo</a></h2>
            </div>
            <div class="c-navbar__center">
              <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a target="_blank" rel="noopener noreferer" href="https://github.com/kepelet/flo">Source Code</a></li>
                <li><a href="/changelog/">Changelog</a></li>
              </ul>
            </div>
            <div class="c-navbar__right">
              <a href="https://testflight.apple.com/join/913htqtU" class="c-button c-button--cta-navbar">
                  Join the TestFlight
              </a>
            </div>
          </div>
        </nav>
        {{ content }}
        <div class="js-modal" id="modal">
            <div class="js-modal__content">
                <span class="js-modal__close" id="closeModal">&times;</span>
                <h2>Join the waitlist</h2>
                <p>Currently flo is in early preview and we'll let you know when we're on the App Store.</p>
                <input id="email" type="email" placeholder="john@doe.com" required>
                <div class="cf-turnstile" data-callback="enableSubmit" data-sitekey="0x4AAAAAAAi7bs0DROJL1xPi" data-size="flexible"></div>
                <button id="submit" disabled>Submit</button>
            </div>
        </div>
    </main>
  </body>
</html>
