<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>flo</title>

        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

        <link href="/assets/css/reset.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>

  <body>
    <main class="l-container">
      {{ content }}
    </main>

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
  </body>
</html>
