---
title: About flo
layout: layouts/base
---

<div class="l-about">
    <div class="l-about__content">
        <h1>About flo</h1>
        <p>flo is made with ♥️ by the <a href="https://github.com/kepelet">Kelompok Penerbang Walet (Kepelet)</a> and is mostly maintained by <a href="https://github.com/faultables">faultables.</a></p>
    </div>

    <div class="l-about__content">
        <h3>flo for iOS Privacy Policy</h3>
        <br>
        <p>The flo for iOS app does not collect or process any personal information from its users. The app is used to connect to third-party Navidrome servers that may or may not collect personal information and are not covered by this privacy policy.</p>
    </div>

    <div class="l-about__content">
        <h3>Licensing</h3>
        <ul>
            <li><a href="https://github.com/Alamofire/Alamofire">Alamofire</a> - MIT license
            <li><a href="https://github.com/kishikawakatsumi/KeychainAccess">KeychainAccess</a> - MIT license
            <li><a href="https://github.com/kean/Nuke">Nuke</a> - MIT license
            <li><a href="https://github.com/kean/Pulse">Pulse</a> - MIT license
            <li><a href="https://icons8.com/illustrations/illustration/jumble-travel-destination-hand-pointing-to-a-globe">Travel destination, hand pointing to a globe</a> illustration by <a href="https://icons8.com/illustrations/author/RogqKjMRAQ79">xopolin</a> from <a href="https://icons8.com/illustrations">Ouch!</a></li>
            <li><a href="https://icons8.com/illustrations/illustration/jumble-music-streaming-services-with-vintage-ambience-bust-sculpture-and-gramophone-1">Music streaming services with vintage ambience, bust sculpture and gramophone</a> illustration by <a href="https://icons8.com/illustrations/author/259416">Marina Green</a> from <a href="https://icons8.com/illustrations">Ouch!</a></li>
        </ul>
    </div>
</div>
