---
title: Home
layout: layouts/base
---

<nav class="c-navbar">
  <div class="c-navbar__wrapper">
    <div class="c-navbar__left">
      <h2><a href="#">flo</a></h2>
    </div>
    <div class="c-navbar__center">
      <ul>
        <li><a href="#features">Features</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a target="_blank" rel="noopener noreferer" href="https://github.com/kepelet/flo">Source Code</a></li>
        <li><a target="_blank" rel="noopener noreferer" href="https://github.com/orgs/kepelet/projects/1/views/1">Roadmap</a></li>
      </ul>
    </div>
    <div class="c-navbar__right">
      <button class="c-button c-button--cta-navbar" id="openModal">Join the waitlist</button>
    </div>
  </div>
</nav>

<div class="c-hero">
    <div>
        <h1>Meet flo</h1>
        <h3>An open source Navidrome client written in Swift.</h3>
        <button class="c-button c-button--cta" id="openModal2">Join the waitlist</button>
        <div class="c-hero__right">
            <img src="/assets/img/flo_hero.jpeg" alt="flo">
        </div>
    </div>
</div>

<div class="c-section">
  <h3 class="c-section__title">Is flo right for you?</h3>
  <p class="c-section__subtitle">If you have Navidrome at home <em>and</em> an iPhone, maybe give flo a try.</p>
</div>

<div class="c-section c-section--flex">
  <div class="c-card">
    <h4>Modern, familiar interface</h4>
    <p>flo is written in Swift and relies heavily on SwiftUI, a UI framework by Apple for Apple devices.</p>
  </div>
  <div class="c-card">
    <h4>Navidrome native client</h4>
    <p>While Navidrome supports Subsonic APIs, flo was purposely designed for Navidrome servers.</p>
  </div>
  <div class="c-card">
    <h4>Customizations</h4>
    <p>Make flo look the way you want — Custom app icons? Check. Color theme? Check. Hot girlfriend with sweatpants and a hoodie? Color theme? Check.</p>
  </div>
</div>

<div id="features">
    <div class="c-hero c-hero--second">
        <h1>Features</h1>
        <h3>flo is a music player app, meaning it plays music. But wait, there is more.</h3>
        <ul>
            <li>Scrobble — Share your listening activity. A ListenBrainz or Last.fm account is required. Discord now playing status may also be supported.</li>
            <li>Offline listening — Save your mobile data plan, keep the flow even when the server is down, or maybe when you're nowhere. </li>
            <li>Plus — Opt-in, nice-to-have, unnecessary features that are not related to your listening experience but may make it more fun. Coming soon.</li>
        </ul>
        <p>Eventually, flo is an Open Source Software (OSS) and is licensed under the permissive MIT License. Anyone can help and contribute to the project to make flo better for everyone.</p>
        <p>Did I mention that flo is <strong>free?</strong></p>
    </div>
</div>

<div id="faq" class="c-faq">
    <h4>FAQs</h4>
    <div class="c-faq__section">
        <h5>What is flo?</h5>
        <p>flo is an open source Navidrome client written in Swift. iPadOS and macOS support is planned, by the way.</p>
    </div>

    <div class="c-faq__section">
        <h5>What is Navidrome?</h5>
        <p>Navidrome is an open source web-based music collection server and streamer. It gives you freedom to listen to your music collection from any browser or mobile device. It's like your personal Spotify! Learn more <a target="_blank" rel="noopener noreferer" href="https://www.navidrome.org/">here.</a></p>
    </div>

    <div class="c-faq__section">
        <h5>Is this the official Navidrome client?</h5>
        <p>Nope.</p>
    </div>

    <div class="c-faq__section">
        <h5>Why are there no Android clients?</h5>
        <p>You can check the <a target="_blank" rel="noopener noreferer" href="https://www.subsonic.org/pages/apps.jsp">Subsonic Apps</a> list for alternatives.</p>
    </div>

    <div class="c-faq__section">
        <h5>Any tutorial on running a Navidrome server?</h5>
        <p>Great! I wrote one <a target="_blank" rel="noopener norefer" href="https://dub.sh/flo-navidrome">here.</a></p>
    </div>

    <div class="c-faq__section">
        <h5>Where to get songs?</h5>
        <p>My personal favorite is the iTunes Store. It's DRM-free, relatively affordable and also offers higher quality 256 kbps AAC encoding. I don't really understand the number but I think that sounds good.</p>
    </div>

    <div class="c-faq__section">
        <h5>So we can actually purchase a song?</h5>
        <p>Always has been.</p>
    </div>

    <div class="c-faq__section">
        <h5>Is it any good?</h5>
        <p><a href="https://github.com/glenjamin/node-fib/#is-it-any-good" target="_blank" rel="noopener noreferer">Yes.</a></p>
    </div>

    <div class="c-faq__section">
        <p>If your question is not listed here, I'm reachable via email at <a href="mailto:oss@rizaldy.club">oss@rizaldy.club</a> or <a href="https://edgy.social/@rizaldy" target="_blank" rel="noopener noreferer">@rizaldy@edgy.social</a> on Fediverse. You can also use <a href="https://github.com/kepelet/flo/discussions" target="_blank" rel="noopener noreferer">GitHub Discussions</a> for non-private questions.</p>
    </div>
</div>

<div class="js-modal" id="modal">
    <div class="js-modal__content">
        <span class="js-modal__close" id="closeModal">&times;</span>
        <h2>Join the waitlist</h2>
        <p>Currently flo is in early preview and we'll let you know when we're on the App Store.</p>
        <input id="email" type="email" placeholder="john@doe.com" required>
        <button id="submit">Submit</button>
    </div>
</div>

<script>
const modal = document.getElementById('modal')
const openModal = document.getElementById('openModal')
const openModal2 = document.getElementById('openModal2')
const closeModal = document.getElementById('closeModal')

const emailForm = document.getElementById('email')
const submitButton = document.getElementById('submit')

openModal.onclick = function() {
    modal.style.display = 'block'

    setTimeout(function() {
      emailForm.focus()
    }, 66)
}

openModal2.onclick = function() {
    modal.style.display = 'block'

    setTimeout(function() {
      emailForm.focus()
    }, 66)
}

closeModal.onclick = function() {
  modal.style.display = 'none'
}

document.onclick = function () {
  if (event.target === modal) {
    modal.style.display = 'none'
  }
}

document.addEventListener('keydown', function(e) {
  if (e.key === 'Escape' || e.keyCode === 27) {
    modal.style.display = 'none'
  }
})

submitButton.onclick = function() {
  if (!emailForm.value.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
    window.alert("email doesnt seem valid")

    return
  }

  const form = new FormData()

  form.append('payload', emailForm.value)

  fetch('https://flo.edgy0.workers.dev/', {
    method: 'POST',
    body: form
  })
  .then(res => res.text())
  .then(text => {
    window.alert(text)

    modal.style.display = 'none'
    emailForm.value = ''
  })
  .catch(err => {
    window.alert("Something went wrong ", err.message)
  })
}
</script>
