---
title: Home
layout: layouts/base
---

<div class="c-hero">
    <div>
        <h1>Meet flo</h1>
        <h3>An open source Navidrome client written in Swift.</h3>
        <a href="https://apps.apple.com/id/app/flo-navidrome-client/id6529533140">
            <img id="appstore" src="/assets/img/download-on-the-app-store.svg">
        </a>
        <div class="c-hero__right">
            <img src="/assets/img/flo_hero.jpeg" alt="flo">
        </div>
    </div>
</div>

<div class="c-section">
  <h3 class="c-section__title">Is flo right for you?</h3>
  <p class="c-section__subtitle">If you have Navidrome at home <em>and</em> an iPhone, maybe give flo a try.</p>
</div>

<div class="c-section c-section--flex">
  <div class="c-card">
    <h4>Modern, familiar interface</h4>
    <p>flo is written in Swift and relies heavily on SwiftUI, a UI framework by Apple for Apple devices.</p>
  </div>
  <div class="c-card">
    <h4>Navidrome native client</h4>
    <p>While Navidrome supports Subsonic APIs, flo was purposely designed for Navidrome servers.</p>
  </div>
  <div class="c-card">
    <h4>Customizations</h4>
    <p>Make flo look the way you want — Custom app icons? Check. Color theme? Check. Hot girlfriend with sweatpants and a hoodie? Color theme? Check.</p>
  </div>
</div>

<div id="features">
    <div class="c-hero c-hero--second">
        <h1>Features</h1>
        <h3>flo is a music player app, meaning it plays music. But wait, there is more.</h3>
        <ul>
            <li>Scrobble — Share your listening activity. A ListenBrainz or Last.fm account is required. Discord now playing status may also be supported.</li>
            <li>Offline listening — Save your mobile data plan, keep the flow even when the server is down, or maybe when you're nowhere. </li>
            <li>Plus — Opt-in, nice-to-have, unnecessary features that are not related to your listening experience but may make it more fun. Coming soon.</li>
        </ul>
        <p>Eventually, flo is an Open Source Software (OSS) and is licensed under the permissive MIT License. Anyone can help and contribute to the project to make flo better for everyone.</p>
        <p>Did I mention that flo is <strong>free?</strong></p>
    </div>
</div>

<div id="faq" class="c-faq">
    <h4>FAQs</h4>
    <div class="c-faq__section">
        <h5>What is flo?</h5>
        <p>flo is an open source Navidrome client written in Swift. iPadOS and macOS support is planned, by the way.</p>
    </div>

    <div class="c-faq__section">
        <h5>What is Navidrome?</h5>
        <p>Navidrome is an open source web-based music collection server and streamer. It gives you freedom to listen to your music collection from any browser or mobile device. It's like your personal Spotify! Learn more <a target="_blank" rel="noopener noreferer" href="https://www.navidrome.org/">here.</a></p>
    </div>

    <div class="c-faq__section">
        <h5>Is this the official Navidrome client?</h5>
        <p>Nope.</p>
    </div>

    <div class="c-faq__section">
        <h5>Why are there no Android clients?</h5>
        <p>You can check the <a target="_blank" rel="noopener noreferer" href="https://www.subsonic.org/pages/apps.jsp">Subsonic Apps</a> list for alternatives.</p>
    </div>

    <div class="c-faq__section">
        <h5>Any tutorial on running a Navidrome server?</h5>
        <p>Great! I wrote one <a target="_blank" rel="noopener norefer" href="https://dub.sh/flo-navidrome">here.</a></p>
    </div>

    <div class="c-faq__section">
        <h5>Where to get songs?</h5>
        <p>My personal favorite is the iTunes Store. It's DRM-free, relatively affordable and also offers higher quality 256 kbps AAC encoding. I don't really understand the number but I think that sounds good.</p>
    </div>

    <div class="c-faq__section">
        <h5>So we can actually purchase a song?</h5>
        <p>Always has been.</p>
    </div>

    <div class="c-faq__section">
        <h5>Is it any good?</h5>
        <p><a href="https://github.com/glenjamin/node-fib/#is-it-any-good" target="_blank" rel="noopener noreferer">Yes.</a></p>
    </div>

    <div class="c-faq__section">
        <p>If your question is not listed here, I'm reachable via email at <a href="mailto:oss@rizaldy.club">oss@rizaldy.club</a> or <a href="https://edgy.social/@rizaldy" target="_blank" rel="noopener noreferer">@rizaldy@edgy.social</a> on Fediverse. You can also use <a href="https://github.com/kepelet/flo/discussions" target="_blank" rel="noopener noreferer">GitHub Discussions</a> for non-private questions.</p>
    </div>
</div>
