---
title: LRCLIB
layout: layouts/base
---

<div class="l-about">
    <div class="l-about__content">
        <h1>About LRCLIB</h1>
        <p>LRCLIB is a completely free service for finding and contributing synchronized lyrics, with an easy-to-use and machine-friendly APIs. Learn more about LRCLIB here: <a href="https://github.com/tranxuanthang/lrclib">https://github.com/tranxuanthang/lrclib</a></p>
    </div>

    <div class="l-about__content">
        <h3>LRCLIB on flo</h3>
        <br>
        <p>flo supports both synchronized and plain lyrics via the LRCLIB API. If your tracks don't show any lyrics or don't sync well, please check your track information on <a href="https://lrclib.net/">https://lrclib.net</a></p>
    </div>

    <div class="l-about__content">
        <h3>Opt-in</h3>
        <br>
        <p>Head to Preferences > Experimental > LRCLIB > Choose the server you like</p>
        <p>Currently flo displays two presets:</p>
        <ul>
            <li><a href="https://lrclib.net/">https://lrclib.net</a> (the OG)</li>
            <li><a href="https://lrclib.flooo.club">https://lrclib.flooo.club</a> (proxied to lrclib.net via Cloudflare with extensive caching)</li>
        </ul>
        <br>
         <p>You can use your own too</p>
    </div>
</div>
